body {
  background-color: #030c23;
  margin: 0px;
}
a {
  text-decoration: none;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition:all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
    width: 50px;
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
  }
  
  .facebook {
    background: #3B5998;
    border-top-right-radius: 20px;
  }
  .linkedin {
    background: #007bb5;
  }
  .instagram {
    background: #6d1f33;
  }
  .github {
    background: #17171c;
    border-end-end-radius: 20px;
  }
  

#navbar {
  height: 80px;
  padding: 20px;
  font-size: 22px;
  background-color: #010716;
  opacity: 0.9;
  position: fixed;
  width: 100%;
}
#logo {
  color: #adb8d6;
  font-size: 23px;
  letter-spacing: 2px;
  border: solid 3px #485b8e;
  width: min-content;
  padding: 0px 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 50px;
  float: left;
}

#logo:hover {
  cursor: pointer;
  border: 3px solid #007bb5;
  box-shadow: 2px 2px 5px #96a6d1;
}

#listNav {
  float: right;
  margin-right: 50px;
}
#listNav ul {
  list-style-type: none;
}
#listNav li {
  display: inline;
  margin: 0px 10px;
  cursor: pointer;
  color: #adb8d6;
  font-weight: bold;
}
.navLink:hover
{
    color: #4da4c6;
}
#resume {
  padding: 10px 20px;
  font-size: 22px;
  background-color: #030c23;
  color: #adb8d6;
  border: solid 1px #4da4c6;
  border-radius: 5px;
}
#resume:hover {
  background-color: #4da4c6;
  color: #030c23;
  cursor: pointer;
}
#home,#work,#contact{
  height: 600px;
  width: 70%;
  margin: auto;
  padding: 200px 0px;
}
#about
{
    height: 600px;
    width: 70%;
    margin: auto;
    padding: 200px 0;
}
#hi {
  color: #4da4c6;
  font-size: 26px;
  margin-top: 150px;
}
#name {
  color: #b7c3e2;
  font-size: 70px;
  line-height: 1%;
  font-weight: bold;
}
#infoHome1
{
    float: left;
}
#infoHome {
  color: #adb8d6;
  width: 700px;
  word-spacing: 5px;
  font-family:'Times New Roman', Times, serif;
  font-size: 26px;
}
#touch ,#resume{
  background-color: #030c23;
  padding: 20px 30px;
  color: #adb8d6;
  font-size: 23px;
  border-radius: 10px;
  margin-top: 20px;
  border: solid 1px #4da4c6;
  margin: 20px;
}
#touch:hover ,#resume:hover {
  background-color: #4da4c6;
  color: #030c23;
  cursor: pointer;
}
#aboutMe,#myWork {
  font-size: 40px;
  color: #96a6d1;
  font-weight: bold;
}
#hrLine {
  margin-top: 65px;
  margin-left: 20px;
  height: 0;
  width: 80%;
  border-top: 1px;
  color: #273c75;
}
#infoAbout,#infoWork {
  color: #adb8d6;
  width: 60%;
  word-spacing: 5px;
  font-family:'Times New Roman', Times, serif;
  font-size: 26px;
  margin: 0px 40px;
  float: left;
}
#tech ul {
  list-style: url("https://img.icons8.com/office/16/000000/arrow.png");
  color: #7d90c1;
}
#homeImg
{
    width:400px;
    height: 600px;
    margin-left: 100px;
    border-radius: 30px;
}
#aboutDetails ul
{
    color: #adb8d6;
    list-style-type: none;
}
#aboutDetails ul li
{
    margin-bottom: 30px;
    letter-spacing: 1px;
}
#interest
{
    color: #adb8d6;
}
#interest p
{
    font-size: 28px;
    margin-left: 20px;
    font-weight: bold;
}
#interest ul
{
    list-style-type: none;
    font-size: 23px;
}
#interest ul li
{
    display: inline;
    margin: 0px 30px;
}
#projects ul
{
    list-style-type: none;
    color: #adb8d6;
    margin-top: 50px;
}
#projects ul li
{
    outline: 1px solid #007bb5;
    padding: 25px;
    border-radius: 20px;
    background-color: #08122b;
    margin: 60px 0px;
}
#project img
{
    height: 150px;
    width: 220px; 
    border-radius: 20px;
    margin: auto;
    padding: 0px 10px;
}
#project:hover
{
    background-color: #010716;
    cursor: pointer;
    box-shadow: 1px 1px 5px #007bb5;
}
