body {
  background-color: #030c23;
  margin: 0px;
}
a {
  text-decoration: none;
}


.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
  }
  .linkedin {
    background: #007bb5;
  }
  .instagram {
    background: #6d1f33;
  }
  .github {
    background: #17171c;
  }
  
  #content
  {
      margin-left: 30px;
  }

#navbar {
  height: 80px;
  padding: 20px;
}
#logo {
  color: #adb8d6;
  font-size: 23px;
  letter-spacing: 2px;
  border: solid 3px #485b8e;
  width: min-content;
  padding: 0px 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 50px;
  float: left;
}

#logo:hover {
  cursor: pointer;
}

#listNav {
  float: right;
  color: #adb8d6;
  margin-right: 50px;
}
#listNav ul {
  list-style-type: none;
}
#listNav li {
  display: inline;
  margin: 0px 10px;
  cursor: pointer;
}
#resume {
  padding: 5px 15px;
  font-size: 18px;
  background-color: #030c23;
  color: #adb8d6;
  border: solid 1px #4da4c6;
  border-radius: 5px;
}
#resume:hover {
  background-color: #4da4c6;
  color: #030c23;
  border-color: #030c23;
  cursor: pointer;
}
#home,
#about {
  padding: 150px 0px 150px 500px;
}
#hi {
  color: #4da4c6;
  font-size: 20px;
}
#name {
  color: #b7c3e2;
  font-size: 60px;
  line-height: 1%;
  font-weight: bold;
}
#infoHome {
  color: #7d90c1;
  width: 700px;
  word-spacing: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}
#touch {
  background-color: #030c23;
  padding: 20px;
  color: #adb8d6;
  font-size: 23px;
  border-radius: 10px;
  margin-top: 20px;
  border: solid 1px #4da4c6;
}
#touch:hover {
  background-color: #4da4c6;
  color: #030c23;
  cursor: pointer;
}

#aboutMe {
  font-size: 40px;
  color: #96a6d1;
  font-weight: bold;
}
#hrLine {
  margin-top: 65px;
  margin-left: 20px;
  height: 0;
  width: 370px;
  border-top: 1px;
  color: #273c75;
}
#infoAbout {
  color: #7d90c1;
  width: 600px;
  word-spacing: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  float: left;
}
#tech ul {
  list-style: url("https://img.icons8.com/office/16/000000/arrow.png");
  color: #7d90c1;
}
#profileImg
{
    width:300px;
    height: 450px;
    margin-left: 100px;
    border-radius: 100px;
    box-shadow: 2px 2px 10px aliceblue;
}